apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: alaz-daemonset
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "alaz.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "alaz.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "alaz.selectorLabels" . | nindent 8 }}
    spec:
      hostPID: true
      containers:
      - env:
        - name: TRACING_ENABLED
          value: "{{ .Values.tracingEnabled }}"
        - name: METRICS_ENABLED
          value: "{{ .Values.metricsEnabled }}"
        - name: LOGS_ENABLED
          value: "{{ .Values.logsEnabled }}"
        - name: BACKEND_HOST
          value: {{ .Values.backendHost }}
        - name: LOG_LEVEL
          value: "{{ .Values.logLevel }}"
        - name: EXCLUDE_NAMESPACES
          value: "{{ .Values.excludedNamespaces }}"
        - name: MONITORING_ID
          value: {{ .Values.monitoringID }}
        - name: CRI_RUNTIME_ENDPOINT
          value: {{ .Values.criRuntimeEndpoint }}
        - name: SEND_ALIVE_TCP_CONNECTIONS
          value: {{ .Values.sendAliveTCPConnections }}
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        args:
        - --no-collector.wifi
        - --no-collector.hwmon
        - --collector.filesystem.ignored-mount-points=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/pods/.+)($|/)
        - --collector.netclass.ignored-devices=^(veth.*)$
        image: {{ .Values.image }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        name: alaz-pod
        ports:
        - containerPort: {{ .Values.containerPort }}
          protocol: TCP
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            memory: {{ .Values.resources.requests.memory }}
        securityContext:
          privileged: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        # needed for linking ebpf trace programs
        volumeMounts:
        - mountPath: /sys/kernel/debug
          name: debugfs
          readOnly: false
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: alaz-serviceaccount
      serviceAccountName: alaz-serviceaccount
      terminationGracePeriodSeconds: 30
      # needed for linking ebpf trace programs
      volumes:
      - name: debugfs
        hostPath:
          path: /sys/kernel/debug
