namespace: anteon

backendHost: https://api-alaz.getanteon.com:443
monitoringID: ""  # required
criRuntimeEndpoint: "" # optional, specifies an additional CRI Runtime Endpoint, e.g. rke2 + containerd via k3s: unix:///run/k3s/containerd/containerd.sock
logLevel: 1   # zero log levels: -1: trace, 0: debug, 1: info, 2: warn, 3: error, 4: fatal, 5: panic

resources:
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    memory: 400Mi

image: ddosify/alaz:v0.11.0
imagePullPolicy: IfNotPresent
containerPort: 8181
podAnnotations: {}

# enable prometheus node exporter metrics (cpu, memory, network, disk, etc.)
metricsEnabled: true

# enable tracing (service map and distributed tracing) using eBPF
tracingEnabled: true

# enable logs
logsEnabled: true

# exclude namespaces from tracing, metrics and logs.
# Regex pattern to exclude namespaces.
# Example: "^anteon.*"
excludedNamespaces: ""
