apiVersion: v1
data:
  DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: {{ .Values.influxDB.apiToken | quote }}
  DOCKER_INFLUXDB_INIT_USERNAME: {{ .Values.influxDB.username | quote }}
  DOCKER_INFLUXDB_INIT_PASSWORD: {{ .Values.influxDB.password | quote }}
  DOCKER_INFLUXDB_INIT_ORG: {{ .Values.influxDB.org | quote }}
  DOCKER_INFLUXDB_INIT_BUCKET: {{ .Values.influxDB.initBuckerName | quote }}
  DOCKER_INFLUXDB_INIT_MODE: {{ .Values.influxDB.initMode | quote }}
  INFLUXDB_URL: {{ .Values.influxDB.url | quote }}
  POSTGRES_HOST: {{ .Values.postgres.host | quote }}
  POSTGRES_PORT: {{ .Values.postgres.port | quote }}
  POSTGRES_USER: {{ .Values.postgres.username | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password | quote }}
  {{- if .Values.backend.defaultMonitoringID }}
  DEFAULT_CLUSTER_NAME: {{ .Values.backend.defaultClusterName }}
  DEFAULT_MONITORING_ID: {{ .Values.backend.defaultMonitoringID }}
  {{- end }}
kind: ConfigMap
metadata:
  labels:
    service: backend-env
  name: env
